@media (max-width: 720px){
	
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

 .col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-6 {
  width: 100%;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(45,206,137,0.2);
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #2dce89;
  border-radius: 10px;
}

.list-group-item > .badge {
  float: right;
}

a.list-group-item {
  color: #525f7f;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}

}
.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.panel-footer {
  padding: 10px 15px;
  background-color: rgba(45,206,137,0.2);
  border-top: 1px solid #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-success {
  border-color: #2dce89;
}
.panel-success > .panel-heading {
  color: #fff;
  background-color: #2dce89;
  border-color: #2dce89;
}



